<!DOCTYPE html>
<html>
<head>
	<title>Login Page</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Manfred+Klein&display=swap">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles/style.css">
</head>
<body>
	<div class="container">
		<img src="../static/images/logo.png" alt="Login Image">
		<form action="" method="post">
			<h1>Login Page</h1>
			<label for="username">Username:</label>
			<input type="text" id="username" name="username" placeholder="Enter your username" required>

			<label for="password">Password:</label>
			<input type="password" id="password" name="password" placeholder="Enter your password" required>

			<input type="submit" value="Login">
			<p>Don't have an account? <a href={{url_for("signup")}}>Sign up</a></p>
			{% with messages = get_flashed_messages()%}
            {%if messages%}
                {%for msg in messages%}
                    <p>{{msg}}</p>
                {%endfor%}
            {%endif%}
        {%endwith%}
		</form>
	</div>
</body>
</html>
