/* This page is for the style of the Navbar. */
.navbar {
	padding-top: 20px;
	padding-bottom: 20px;
	height: 80px;
	background-color: #A84300;
}
.logo {
	background-color: white;
	padding: 10px;
	border-radius: 50%;
}
.navbar{
	background-color: #893700;
}
.nav-link{
	color:white; 
}

/*The @media changes the color of the links so when the screen is compressed, 
one can still see the links against a white background*/
@media (max-width: 1000px) {
	.nav-link {
	  color: black;
	}
}
  
.navbar-nav .nav-link {
	font-family: 'Manfred Klein', sans-serif;
	font-weight: lighter;
	margin-right: 20px;
	padding-right: 20px;
}

.navbar-nav .nav-link:hover {
	text-decoration: underline;
	color:white
}

.content {
	padding: 20px;
}  
