.navbar {
	padding-top: 20px;
	padding-bottom: 20px;
	height: 80px;
	background-color: #A84300;
}
.logo {
	background-color: white;
	padding: 10px;
	border-radius: 50%;
}
.navbar{
	background-color: #a84300d1;
}
.nav-link{
	color:white 
}
.navbar-nav .nav-link {
	font-family: 'Manfred Klein', sans-serif;
	font-weight: lighter;
	margin-right: 20px;
	padding-right: 20px;
}

.navbar-nav .nav-link:hover {
	text-decoration: underline;
	color:white
}

.content {
	padding: 20px;
}
