/* This page is for the style of the add Info page, which has a form that is formatted. */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #FAF9F6;
	font-family: 'Manfred Klein', sans-serif;

}

.container {
	display: flex;
	flex-wrap: wrap;
	margin: 20px;
    justify-content: space-between;
}

.left {
	flex: 1 1 30%;
	padding: 100px;
	color: black;
	border-radius: 5px;
}

.right {
	flex: 1 1 65%;
	padding: 80px;
	background-color: #A84300;
	border-radius: 5px;

}

h1 {
	margin-bottom: 20px;
}
form{
	border-radius: 5px;
}
.form-group {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 10px;
}

label {
	flex: 0 0 200px;
	color: #FFF;
	font-weight: bold;
	margin-right: 20px;
}

input {
	flex: 1;
	padding: 5px;
	border-radius: 3px;
	border: none;
}

button[type="submit"] {
	background-color: #A84300;
	color: #FFF;
	border: none;
	padding: 5px 10px;
	border-radius: 3px;
	cursor: pointer;
}

button[type="submit"]:hover {
	background-color: #893700;
}
h1,p{
	color:white
}