/* This page is for the style of the my profile page. */

body {
	background-color: #FAF9F6;
	font-family: 'Manfred Klein', sans-serif;
}

.bg-box {
	font-family: 'Manfred Klein', sans-serif;
	background-color: rgba(168, 67, 0, 0.942);
	padding: 30px;
	border-radius: 5px;
	color: white;
}

table {
	margin-top: 20px;
}

th,h1 {
	text-align: center;
}

td {
	vertical-align: middle;
}

h2 {
	margin-top: 0;
	margin-bottom: 20px;
}
